body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
#attendanceButton {
background-color: #4CAF50;
color: white;
border: none;
padding: 15px 30px;
cursor: pointer;
font-size: 18px;
}

.present-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}
.neutral-button {
    background-color: #524e4e;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}
.absent-button {
    background-color: #f20303;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.present-button:hover {
    background-color: #45a049;
}
.center-image{
       display: block;
       margin: 0 auto;
}
